@using Dominio;
@model Miembro;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@ViewBag.error
<h1>Reacciones @ViewBag.accion</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Miembro miembro in ViewBag.VerLikes)
        {
            <tr>
                <th scope="row">@miembro.Nombre</th>
                <td>@miembro.Apellido</td>
                <td>@miembro.FechaNacimiento.ToShortDateString()</td>
                <td>@miembro.Email</td>
            </tr>
        }
    </tbody>

</table>
<a class="btn btn-primary" href="/Publicacion/VerReaccionesComentario?comentarioId=@ViewBag.comentarioId">Volver atras</a>